<div class="container">
  <button
    mat-raised-button
    color="primary"
    class="addBtn"
    (click)="openDialog('add')"
  >
    追加
  </button>
</div>
<div class="container mat-elevation-z8 mt">
  <table mat-table [dataSource]="dataSource" #table>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element" class="NumberCell">
        {{ element.Number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>名称</th>
      <td mat-cell *matCellDef="let element" class="NameCell">
        {{ element.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>性别</th>
      <td mat-cell *matCellDef="let element" class="GenderCell">
        {{ genderTransform(element.Gender) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>住所</th>
      <td mat-cell *matCellDef="let element" class="AddressCell">
        {{ element.Address }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog('change', row)"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp(row)"
    ></tr>
  </table>
  <mat-paginator
    #pageinator
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    itemsPerPageLabel="每页行数"
  ></mat-paginator>
</div>
<div class="container mt">
  <ngx-datatable
    [rows]="datas | async"
    class="material"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="3"
    rowHeight="auto"
    [columnMode]="force"
    [sorts]="[{ prop: 'Number', dir: 'desc' }]"
  >
    <ngx-datatable-column prop="Number" name="No">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <div
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp(row)"
          (click)="openDialog('change', row)"
          class="columnCenter"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Name" name="名称">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <div
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp(row)"
          (click)="openDialog('change', row)"
          class="columnCenter"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Gender" name="性别">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <div
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp(row)"
          (click)="openDialog('change', row)"
          class="columnCenter"
        >
          {{ genderTransform(value) }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Address" name="住址">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <div
          (mousedown)="onMouseDown($event)"
          (mouseup)="onMouseUp(row)"
          (click)="openDialog('change', row)"
          class="columnCenter"
        >
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
