table {
  width: 100%;
}

tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.addBtn {
  position: relative;
  left: 0;
}

.container {
  width: 70%;
}
.mt {
  margin-top: 15px;
}
.columnCenter {
  text-align: center;
  cursor: pointer;
}
datatable-header-cell {
  display: flex !important;
  justify-content: center;
}
