/* You can add global styles to this file, and also import other style files */
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

datatable-header-cell {
  display: flex !important;
  justify-content: center;
}
datatable-body-cell {
  padding: 0px !important;
}
